export(add.header, arequest, as.WebResult, done, oclear, ohead, oinput, oselection, osubmit, oprint, otable, out, WebPlot, WebResult, parse.multipart, olayout, oaddrbilibs, bindcomp, adddropdown, addtable, Rcpage, fixedpage, titlePanel, layoutTwo, sidePaneLayout, mainPaneLayout, footerPanel, addchart)
S3method(as.WebResult, WebResult)
S3method(as.WebResult, default)
S3method(as.WebResult, WebPlot)
S3method(as.character, WebPlot)
